# jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# vim: ft=conf

# IP sites in banned list

# The bannedsiteiplist is for blocking ALL of an IP site
# IP site addresses
# Single IPs, ranges and subnets can be used,
# e.g.
# 192.168.0.1
# 10.0.0.1-10.0.0.3
# 10.0.0.0/24

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_bannedsiteiplist is defined and e2g_bannedsiteiplist | string | length > 0 -%}
{%- for item in e2g_bannedsiteiplist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------
