# jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# vim: ft=conf
# Banned outgoing HTTP headers based on regular expressions
#
# E.g. 'User-Agent: .*MSIE' would block several versions of Internet Explorer
# (assuming the user-agent is not being spoofed by the client)
#
# Headers are matched line-by-line, not as a single block.

# listcategory: "Banned Regular Expression HTTP Headers"

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_bannedregexpheaderlist is defined and e2g_bannedregexpheaderlist | string | length > 0 -%}
{%- for item in e2g_bannedregexpheaderlist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------
