# jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# vim: ft=conf
# URLs in exception list
# Don't bother with the www. or
# the http://
#
# These are parts of sites that filtering should
# be switched off for.
#
# These should not be domains, i.e. entire sites,
# they should be a domain with a path.
#
# For example 'foo.bar' is no good, you need
# to just have 'foo.bar/porn/'.
#
# Another example:
# generallybadsite.tld/partthatsok/

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_exceptionurllist is defined and e2g_exceptionurllist | string | length > 0 -%}
{%- for item in e2g_exceptionurllist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------
