# jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# vim: ft=conf
# Exception file extension list
# Use as a filter group's "exceptionextensionlist",
# to override a blanket download block.
# (blockdownloads = on)
#
# DOES NOT override content/virus scanning or site/URL bans.
#
# Default list:
# Unblock web pages & graphics

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_exceptionextensionlist is defined and e2g_exceptionextensionlist | string | length > 0 -%}
{%- for item in e2g_exceptionextensionlist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------
