# jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# vim: ft=conf
# Exception URLs based on Regular Expressions
#
# E.g. 'news' would unblock news.bbc.com etc
#
# Example
# news
#
# Prevent content scanning of CSS and/or JavaScript files
# ^[^?]*\.css($|\?)
# ^[^?]*\.jsp?($|\?)
#
# Allow Facebook plugin applications like
# http://apps.facebook.com/neighborhoods/Setup.aspx and others.

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_exceptionregexpurllist is defined and e2g_exceptionregexpurllist | string | length > 0 -%}
{%- for item in e2g_exceptionregexpurllist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------
