{{ ansible_managed | comment }}
# vim: ft=systemd

[Service]

# See systemd.exec(5) and systemd.resource-control(5) for details.

# IO
IOWeight={{ e2g_service_IOWeight }}
StartupIOWeight={{ e2g_service_StartupIOWeight }}
# See ioprio_set(2) for details.
IOSchedulingClass={{ e2g_service_IOSchedulingClass }}
IOSchedulingPriority={{ e2g_service_IOSchedulingPriority }}

# CPU
CPUAccounting=yes
CPUWeight={{ e2g_service_CPUWeight }}
StartupCPUWeight={{ e2g_service_StartupCPUWeight }}
# See sched_setscheduler(2) for details.
CPUSchedulingPriority={{ e2g_service_CPUSchedulingPriority }}

Nice={{ e2g_service_Nice }}

# RAM
# Protect the service from getting killed from low-memory.
MemoryAccounting=yes
MemoryMin={{ e2g_service_MemoryMin }}

IPAccounting=yes
