{{ ansible_managed | comment }}
# vim: ft=systemd

[Service]

# v5.4 has a bug that requires specifying the path to the config file.
# See https://github.com/e2guardian/e2guardian/issues/673
#   and https://github.com/bedag/docker-e2g/issues/9
ExecStart=
ExecReload=
ExecStart=/usr/bin/e2guardian -c {{ (e2g_install_dir, "etc", "e2guardian", "e2guardian.conf") | path_join }}
ExecReload=/usr/bin/e2guardian -r -c {{ (e2g_install_dir, "etc", "e2guardian", "e2guardian.conf") | path_join }}

# See systemd.exec(5) and systemd.resource-control(5) for details.

# IO
IOWeight={{ e2g_service_ioweight }}
StartupIOWeight={{ e2g_service_startupioweight }}
# See ioprio_set(2) for details.
IOSchedulingClass={{ e2g_service_ioschedulingclass }}
IOSchedulingPriority={{ e2g_service_ioschedulingpriority }}

# CPU
CPUAccounting=yes
CPUWeight={{ e2g_service_cpuweight }}
StartupCPUWeight={{ e2g_service_startupcpuweight }}

Nice={{ e2g_service_nice }}

# RAM
# Protect the service from getting killed from low-memory.
MemoryAccounting=yes
MemoryMin={{ e2g_service_memorymin }}

IPAccounting=yes
