#jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
# banned MIME types

# ---- BEGIN ANSIBLE BLOCK ----------------------------------------------------
{% if e2g_bannedmimetypelist is defined and e2g_bannedmimetypelist !="" -%}
{%- for item in e2g_bannedmimetypelist %}
{{ item }}
{% endfor -%}
{%- endif -%}
# ---- END ANSIBLE BLOCK ------------------------------------------------------

