#jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}
#Banned URLs based on Regular Expressions
# E.g. 'sex' would block sex.com and middlesex.com etc
#listcategory: "Banned Regular Expression URLs"
#Banned URLs based on Regular Expressions

{% if e2g_bannedregexpurllist is defined %}
  {% for item in e2g_bannedregexpurllist %}
    {{ item }}
  {% endfor %}
{% endif %}

#Block Naturism and Nudist sites
#(naturism|naturist|nude|nudist|nudism|nekkid|nakt|naakt)

######################################################
# Search Engine and Related
######################################################

#Block unfiltered options on various search engines
#(^|[\?+=&/])(.*\.google\..*/.*\?.*safe=off)([\?+=&/]|$)
#(^|[\?+=&/])(.*\.alltheweb.com/customize\?.*copt_offensive=off)([\?+=&/]|$)

#Block images and video on altavista, alltheweb, yahoo etc - as they are anonomised
#(yahoo.com\/image\/)
#(yimg.com\/image\/)
#(altavista.com\/image\/)
#(altavista.com\/video\/)
#(picsearch.com\/is)

#Block images and video on google
#(images.google)+.*(\.jpg|\.wmv|\.mpg|\.mpeg|\.gif|\.mov)
#(google.com\/video) #block all video
#(google.com\/ThumbnailServer) #block video thumbnails
#(google.com\/videoplay) #block only playing the video

######################################################
# Proxy Sites
######################################################

#Block Cgiproxy, Poxy, PHProxy and other Web-based proxies
#(cecid.php|nph-webpr|nph-pro|/dmirror|cgiproxy|phpwebproxy|__proxy_url|proxy.php)

#Block websites containing proxy lists
#(anonymizer|proxify|megaproxy)

######################################################
# Miscellaneous - Productivity etc.
######################################################

#Use this to block web counters:
#(adlog.php|cnt.cgi|count.cgi|count.dat|count.jsp|count.pl|count.php|counter.cgi|counter.js|counter.pl|countlink.cgi|fpcount.exe|logitpro.cgi|rcounter.dll|track.pl|w_counter.js)
#Contributed by proxy@barendse.to

#Free stuff - supplied by David Burkholder
#(free|phone|mobile)+.*(love|music|movie|dvd|video|stuff|site|arcade|wallpaper|mp3)
#((ring|real)tone)

#Music - supplied by David Burkholder
#(rock|pop|jazz|rap|punk)+.*(cult|roll|geek|drum|music|history|band)

# WARNING: This is part of the URL for the e2guardian.org sample virus archive.
# You probably don't want to go there unintentionally.
(Variants/AVTest)
