{{ ansible_managed | comment }}
# vim: ft=conf

server {
  listen       80;
  server_name  _;
  root         /var/www/e2guardian;

  autoindex            on;
  autoindex_localtime  on;

  # Enable status monitoring.
  location = /status {
      stub_status;
  }

}
