{{ ansible_managed | comment }}
vim: ft=html
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<!--
The available variables are as follows:
- URL- gives the URL the user was trying to get to
- REASONGIVEN- gives the nice reason (i.e. not quoting the banned phrase)
- REASONLOGGED- gives the reason that gets logged including full details
- USER- gives the username if known
- IP- gives the originating IP
- FILTERGROUP- gives the group name
- BYPASS- Allows an admin with with bypass access to bypass the block
-->

<html>
<head>
    <title>E2Guardian - Access Denied</title>
    <meta charset="UTF-8">
    <!-- Ensure local favicon is loaded or site's is blanked, some sites have shady favicons. -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <style type="text/css">
      body {
        color:#000000;
        background-color:#ffffff;
        font-family:arial, helvetica, sans-serif;
      }
      img.valid {
        width:88px;
        height:31px;
        border-width:0px;
      }
      table.main {
        width:700px;
        height:540px;
        padding:2px;
        border-width:0px;
        margin-left:auto;
        margin-right:auto;
      }
      td.content {
        width:550px;
        vertical-align:middle;
        color:#000000;
        background-color:#ffffff;
        font-size:14pt;
        text-align:center;
      }
      td.notice {
        height:100px;
        color:#000000;
        /* background-color:#fea700; */
        /* background-color:#ff0000; */
        background-color:#999999;
        font-size:22pt;
        font-weight:bold;
        text-align:center;
      }
      td.org {
        width:150px;
        vertical-align:bottom;
        color:#000000;
        background-color:#b0c4de;
        font-size:8pt;
        text-align:center;
      }
      td.user {
        height:30px;
        color:#000000;
        /* background-color:#fffacd; */
        background-color:#999999;
        font-size:12pt;
        font-weight:bold;
        text-align:right;
      }
    </style>
  </head>

<Style>
 .rtop,.rbottom{display:block}
 .rtop *,.rbottom *{display:block;height: 1px;overflow: hidden}
 .r1{margin: 0 5px}
 .r2{margin: 0 3px}
 .r3{margin: 0 2px}
 .r4{margin: 0 1px;height: 2px}
 .rs1{margin: 0 2px}
 .rs2{margin: 0 1px}
 .bypasstext{ font-size:10px;}
 .errortext { color: red;}
 body{ padding: 20px; background-color: #1f2229; font: 100.01% "Trebuchet MS",Verdana,Arial,sans-serif; }
 div#nifty{ margin: 0 10%;background: #454b5a; }
</Style>
<Script type="text/javascript">
function NiftyCheck() { if(!document.getElementById || !document.createElement)
return(false); var b=navigator.userAgent.toLowerCase(); if(b.indexOf("msie 5")>0 && b.indexOf("opera")==-1)
return(false); return(true);}
function getElementsBySelector(selector){ var i; var s=[]; var selid=""; var selclass=""; var tag=selector; var objlist=[]; if(selector.indexOf(" ")>0){ s=selector.split(" "); var fs=s[0].split("#"); if(fs.length==1) return(objlist); return(document.getElementById(fs[1]).getElementsByTagName(s[1]));}
if(selector.indexOf("#")>0){ s=selector.split("#"); tag=s[0]; selid=s[1];}
if(selid!=""){ objlist.push(document.getElementById(selid)); return(objlist);}
if(selector.indexOf(".")>0){ s=selector.split("."); tag=s[0]; selclass=s[1];}
var v=document.getElementsByTagName(tag); if(selclass=="")
return(v); for(i=0;i<v.length;i++){ if(v[i].className==selclass){ objlist.push(v[i]);}
}
return(objlist);}
window.onload=function(){ if(!NiftyCheck())
return; Rounded("div#nifty","#377CB1","#9BD1FA");}
</Script>
</HTML>
<Body>

 <Table Border="0" width="100%" height="100%">
  <TD valign="middle" align="center">

  <div id="nifty">
    <P>
     <h3></h3><BR>
      <BR>
     <I>-URL-</I>
      <BR><BR>
      <B></B><BR>
      <BR>
      <span>Category:&nbsp;-CATEGORIES-</span>&nbsp;&nbsp;
      <span>-REASONGIVEN-</span>
      <BR><BR><BR>
      <h4></h4>
      <I>User:&nbsp;-USER-&nbsp&nbsp;&nbsp;Group:&nbsp;-FILTERGROUP-&nbsp;&nbsp;&nbsp;IP:&nbsp;-IP-</I>
      <BR><BR><BR>
   </P>
   </div>
  </TD>
 </Table>
</Body>
</html>
